html, body {
  margin: 0;
  overflow: hidden;
}

html {
  font-family: sans-serif;
}

#data {
  display: none;
}

.node circle {
  stroke: #fff;
  stroke-width: 0.2vh;
  fill: #000;
}

.node-root circle {
  fill: #000;
}

.node-module circle {
  fill: #367FBA;
}

.node-external circle {
  fill: #55B748;
}

.node-class circle {
  fill: #BE248D;
}

.node text {
  font-size: 11px;
  text-anchor: middle;

  fill: #000;
  font-weight: bold;

  text-shadow:
    0 0 0.5vh white,
    0 0 0.5vh white,
    0 0 0.5vh white,
    0 0 0.5vh white,
    0 0 0.5vh white,
    0 0 0.5vh white;
}

.node-directory circle,
.node-directory text {
  fill: #666;
}

.node-file circle,
.node-file text {
  fill: #CCC;
}

.node {
  transition: opacity 2s;
}

.link {
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 3;
  transition: opacity 2s, stroke 2s, stroke-opacity 2s, stroke-width 2s;
}

.mode-dir .link-subdir {
  stroke-opacity: 0.4;
}

.mode-dir .link-import {
  stroke-opacity: 0.1;
  stroke-width: 1;
}

.mode-dir .link-child-file {
  stroke: #CCC;
}

.mode-module .link-subdir,
.mode-module .link-child {
  stroke-opacity: 0.05;
  stroke-width: 1;
}

.mode-module .link-import {
  stroke-width: 1;
  stroke-opacity: 0.6;
}

.mode-module .node-root,
.mode-module .node-directory,
.mode-module .node-file {
  opacity: 0.2;
}

#controls {
  position: fixed;
  top: 1em;
  left: 1em;

  display: flex;
  align-items: baseline;
  flex-wrap: nowrap;
}

#controls > * {
  margin: 0 1em;
}

#controls .select-wrapper {
  width: 12em;
}

#controls .select-dropdown {
  margin-bottom: 0;
}
